body {
  width: 95%;
  max-width: 800px;
  margin: auto;
  background: url(back.jpg) center;

  font-family: 'Lato';
  line-height: 1.5;

}

  main {
    background: #ffffffa8;
    padding: 8px 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.logo, .band-name, .cabecalho, .subCabecalho, .skills {
  text-align: center;
}

.recuo {
  text-indent: 4em;
}

